<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CustomTabBar.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>92AA293B1CDA10B6006E48BD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>92AA29541CDA10B7006E48BD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>92AA295F1CDA10B7006E48BD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
